.about_sub_blk {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: var(--lightgreen);
    height: 500px;
}

.about_name_blk {
    display: flex;
    align-items: center;
}

.about_name_sub_blk {
    font-size: 30px;
    font-weight: 600;
}

.about_img_blk {
    display: flex;
    align-items: center;
}

.about_img_blk p {
    border: 15px solid var(--darkgreen);
    border-radius: 50%;
}

.about_img_blk img {
    height: 400px;
    width: 400px;
    padding: 10px;
}

.about_main_blk {
    border-bottom: 5px solid var(--darkgreen);
}

@media screen and (max-width:780px) {
    .about_sub_blk {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 313px;
            padding: 0px 20px;
    }

.mobile_img_blk p img {
    border: 15px solid var(--darkgreen);
    }

.about_name_sub_blk {
    font-size: 20px;
    font-weight: 600;
    }

    .mobile_img_blk p img {
        height: 200px;
        width: 100%;
        padding: 10px;
    }
}